@media (max-width: 1230px) {
  .projects-services__panel {
    .projects-services__item {
      min-height: 160px;
      min-width: 280px;
      font-size: 12px;
      .projects-services__title {
        font-size: 22px;
      }
      .projects-services__content {
        .projects-services__link {
          font-size: 12px;
          &:hover {
            &:after {
              width: 81px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .footer {
    .footer-contacts {
      .footer-contacts__social {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 1150px) {
  .projects-product {
    top: 15%;
  }
}
@media (max-width: 1074px) {
  .footer {
    .footer-info {
      .footer-info__column {
        flex: 0 0 50%;
        justify-content: center;
        margin-bottom: 30px;

        &:nth-child(3) {
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .footer-contacts {
      flex-direction: column;
      align-items: center;
      .footer-contacts__item {
        margin-bottom: 15px;
      }
      .footer-contacts__social {
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 991px) {
  //Mobile navigation button
  .header__toogler {
    width: 34px;
    height: 34px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    transform: rotate(0deg);
    position: relative;
    cursor: pointer;
    z-index: 1;
    display: block;
  }
  //Menu mobile
  .nav-menu {
    bottom: 0;
    right: -100%;
    z-index: 1100;
    margin: 0;
    overflow: auto;
    position: fixed;
    transition: right .5s ease-out .5s;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-background-page;
    width: 300px;
    border-top: 1px solid $color-background-mobile-light;
    border-left: 1px solid $color-background-mobile-light;

    &.open {
      right: 0;
    }
    //Menu content mobile
    .nav-menu__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: 0;
      border-bottom: 1px solid $color-background-mobile-light;
      &:hover, &:active, &.active {
        .menu-drop {
          transform: none;
        }
      }
      .nav-menu__link, .nav-menu__drop-name {
        padding: 10px 40px 10px 40px;
      }
    }
  }
  //Dropdown menu
  .menu-drop {
    display: none;

    &.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: static;
      font-size: 13px;
      transform: none;
      transform-origin: 0 0;
      background: $color-background-page;
      padding: 0;
      width: 100%;
      background: #635e68;
      max-width: none;
    }

    .menu-drop__item {
      text-align: left;
      width: 100%;
      padding: 0;
      border-bottom: 1px solid $color-text-light;
      &:first-child {
        border-top: 1px solid $color-text-light;
        .menu-drop__link {
          padding: 10px;
        }
      }
      &:last-child {
        border: none;
        .menu-drop__link {
          padding: 10px;
        }
      }
      .menu-drop__link {
        display: block;
        color: $color-text-light;
        text-decoration: none;
        transition: 0.5s all;
        border: none;
        padding: 10px;
      }
    }
  }
  .header {
    min-height: 80px;
    .header__body {
      .header__logo {
        padding-top: 5px;
        width: 200px;
        height: 60px;
        .header__logo-img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .modal-btn {
    margin-bottom: 10px;
  }
  //Slider panel
  .projects-services__panel {
    .services-btn {
      z-index: 222;
      opacity: 1;
    }
    .projects-services__item {
      opacity: 0;
      &:not(.active){
        width: 0;
        min-width: 0;
        height: 0;
        padding: 0;
        min-height: 0;
        *,.projects-services__link{
          font-size: 0;
        }
      }
      &.active {
        display: flex;
        opacity: 1;
        min-height: 160px;
        min-width: 220px;
      }
    }
  }
}
@media (max-width: 820px) {
  .slider {
    .slider__item{
      .slider__img {
        width: auto;
        height: 460px;
      }
    }
  }
}
@media (max-width: 735px) {
  .contact-item {
    margin-right: 0;
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
}
@media (max-width: 685px) {
  .footer {
    .footer-info {
      padding: 32px 0 0 0;
      .footer-info__column {
        flex: 0 0 100%;
        &:nth-child(3) {
          margin-bottom: 30px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .modal-window {
    .modal-window__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      max-height: 100vh;
      top: 0;

      .modal-window__title {
        margin: 0 0 70px 0;
      }
    }

    .modal-window__inner {
      flex-direction: column;
      align-items: center;
    }
  }
  .modal-window__col {
    position: relative;
    margin: 0 0 50px 0;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $border-color-modal;
      bottom: -24px;
      left: 0;
      display: block;
    }
    &:last-of-type {
      margin: 0;
      &:after {
        display: none;
      }
    }
  }
}
@media (max-width: 527px) {
  .projects-product {
    .projects-product__item {
      .projects-product__title {
        text-align: center;
        font-size: 20px;
        margin: 0 0 15px 0;
      }
      .projects-product__text {
        font-size: 15px;
      }
    }
  }
  .contact-item {
    flex: 0 0 50%;
  }
}
@media (max-width: 400px) {
  .nav-menu {
    width: 100%;
  }
  .modal-btn {
    margin-bottom: 10px;
    .modal-btn__open {
      font-size: 10px;
    }
    .modal-btn__icon {
      margin-left: 3px;
      height: 10px;
    }
  }
  .header {
    .header__body {
      .header__logo {
        padding-top: 5px;
        width: 160px;
        height: 45px;
        .header__logo-img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media (max-width: 373px) {
  .projects-product {
    .projects-product__item {
      .projects-product__title {
        font-size: 15px;
      }
      .projects-product__text {
        font-size: 13px;
      }
    }
  }
  .contact-item {
    flex: 0 0 100%;
  }
  .modal-window {
    .modal-window__body {
      padding: 9px 15px 9px 15px;
    }
  }
}
@media (max-height: 1366px) and (min-height: 1025px) {
  .footer {
    padding-top: 50px;
  }
}