//colors
$color-background-page: #353436;
$color-block: #e2d1a6;
$color-block-light: #ffffff;
$color-block-dark: #000000;
$color-hover: #e2d1a6;
$color-btn: #000000;
$color-btn-hover: #e2d1a6;
$color-text-light: #ffffff;
$color-text-grey: #cfcfd0;
$color-text-dark: #000000;
$color-text-checkbox: #bfbfbf;
$color-slider-dots: #ffffff;
$color-slider-dots-active: #e2d1a6;
$color-slider-product: rgba(255, 255, 255, 0.85);
$color-slider-btn: #ffffff;
$background-modal-window: rgba(255, 255, 255, 0.3);
$color-btn-modal-close: #ffffff;
//color for btn mobile
$color-background-mobile-light: #ffffff;
$color-background-mobile-dark: #353436;
$border-color-modal: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 53.65%, rgba(255, 255, 255, 0) 100%, #FFFFFF 100%);

//fonts
$font-family-title: 'Playfair Display', serif;
$font-family-all: 'Open Sans', sans-serif;